
<p>
  <html>
	<head>
	    <title>Fondo de prueba</title>
	</head>
	<body background="fondo1.jpg" bgcolor="D5DA3F">

	<table width="550" bgcolor=D5DA3F align=center>
	<tr>
	    <td>
	    <h1 style="color:D5DA3F ">BIENVENIDOS A LA BODEGA </h1>
	    <br>
	   <select name="menu">
       
  <option selected> </option>
  <optgroup label="ABARROTES:">
    <option value="1">Opción uno</option>
    <option value="2">Opción dos</option>
    <option value="3">Opción tres</option>
  </optgroup>
  <optgroup label="Grupo2">
    <option value="4">Opción cuatro</option>
    <option value="5">Opción cinco</option>
    <option value="6">Opción seis</option>
  </optgroup>
</select>

	    <br>

	    </td>
	</tr>
  
	</table>

	</body>
	</html>
</p>
<html>
	<head>
	    <title>Fondo de prueba</title>
	</head>

	<body background="fondo1.jpg" bgcolor="B5DA3F ">

	<table width="10000" bgcolor=B5DA3F align=left>
	<tr>
	    <td>

	    <h1 style="color:000000">eeqc</h1>
	    <br>
	    Este texto se lee bien porque tiene un fondo plano.
	    <br>

	    </td>
	</tr>
	</table>

	</body>
	</html>